<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RobX.Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RobX.Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
  <userSettings>
    <RobX.Controller.Properties.Settings>
      <setting name="SimulatorIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="RealIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="SimulatorPort" serializeAs="String">
        <value>1371</value>
      </setting>
      <setting name="RealPort" serializeAs="String">
        <value>1370</value>
      </setting>
      <setting name="RobotType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>480, 561</value>
      </setting>
      <setting name="FormPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="SimulationSpeed" serializeAs="String">
        <value>1</value>
      </setting>
    </RobX.Controller.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <RobX.Controller.Properties.Settings>
      <setting name="ForwardKey" serializeAs="String">
        <value>Up</value>
      </setting>
      <setting name="BackwardKey" serializeAs="String">
        <value>Down</value>
      </setting>
      <setting name="RotateClockwiseKey" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="RotateCounterClockwiseKey" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="StopKey" serializeAs="String">
        <value>ShiftKey</value>
      </setting>
      <setting name="GlobalStopKey" serializeAs="String">
        <value>F10</value>
      </setting>
      <setting name="StartKey" serializeAs="String">
        <value>F5</value>
      </setting>
      <setting name="ToggleKeyboardControl" serializeAs="String">
        <value>F12</value>
      </setting>
    </RobX.Controller.Properties.Settings>
  </applicationSettings>
</configuration>
