<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RobX.Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="RobX_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RobX.Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="RobX_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <RobX.Interface.Properties.Settings>
      <setting name="COMPort" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="FormPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>1370</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>476, 418</value>
      </setting>
    </RobX.Interface.Properties.Settings>
    <RobX_Interface.Properties.Settings>
      <setting name="COMPort" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>520, 399</value>
      </setting>
      <setting name="FormPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>1371</value>
      </setting>
    </RobX_Interface.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <RobX.Interface.Properties.Settings>
      <setting name="ForwardKey" serializeAs="String">
        <value>Up</value>
      </setting>
      <setting name="BackwardKey" serializeAs="String">
        <value>Down</value>
      </setting>
      <setting name="RotateClockwiseKey" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="RotateCounterClockwiseKey" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="StopKey" serializeAs="String">
        <value>ShiftKey</value>
      </setting>
      <setting name="GlobalStopKey" serializeAs="String">
        <value>F10</value>
      </setting>
      <setting name="ToggleKeyboardControl" serializeAs="String">
        <value>F12</value>
      </setting>
    </RobX.Interface.Properties.Settings>
    <RobX_Interface.Properties.Settings>
      <setting name="ForwardKey" serializeAs="String">
        <value>Up</value>
      </setting>
      <setting name="BackwardKey" serializeAs="String">
        <value>Down</value>
      </setting>
      <setting name="RotateClockwiseKey" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="RotateCounterClockwiseKey" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="StopKey" serializeAs="String">
        <value>ShiftKey</value>
      </setting>
      <setting name="GlobalStopKey" serializeAs="String">
        <value>F10</value>
      </setting>
      <setting name="ToggleKeyboardControl" serializeAs="String">
        <value>F12</value>
      </setting>
    </RobX_Interface.Properties.Settings>
  </applicationSettings>
</configuration>
