<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobX_Simulator_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobX_Simulator_v2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <RobX_Simulator_v2.Properties.Settings>
            <setting name="GroundColor" serializeAs="String">
                <value>32, 178, 170, 255</value>
            </setting>
            <setting name="GridLineColor" serializeAs="String">
                <value>211, 211, 211, 255</value>
            </setting>
            <setting name="GridFontColor" serializeAs="String">
                <value>255, 255, 255, 255</value>
            </setting>
            <setting name="StatisticsFontColor" serializeAs="String">
                <value>255, 255, 0, 255</value>
            </setting>
            <setting name="RobotTraceColor" serializeAs="String">
                <value>255, 0, 0, 255</value>
            </setting>
            <setting name="UpdateRate" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DefaultSimulationSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SimulationSpeedColor" serializeAs="String">
                <value>255, 0, 0, 255</value>
            </setting>
            <setting name="ForwardKey" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="BackwardKey" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="RotateClockwiseKey" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="RotateCounterClockwiseKey" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="StopKey" serializeAs="String">
                <value>ShiftKey</value>
            </setting>
            <setting name="GlobalStopKey" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="ToggleKeyboardControl" serializeAs="String">
                <value>F12</value>
            </setting>
        </RobX_Simulator_v2.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RobX_Simulator_v2.Settings>
            <setting name="ServerPort" serializeAs="String">
                <value>1371</value>
            </setting>
            <setting name="DrawGrids" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawStatistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawObstacles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawRobotTrace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>499, 568</value>
            </setting>
            <setting name="KeepAspectRatio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </RobX_Simulator_v2.Settings>
    </userSettings>
</configuration>