<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobX.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RobX.Library.Properties.Settings>
            <setting name="DefaultLogItemColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ErrorLogItemColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ReceiveLogItemColor" serializeAs="String">
                <value>LightSeaGreen</value>
            </setting>
            <setting name="SendLogItemColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
        </RobX.Library.Properties.Settings>
    </applicationSettings>
</configuration>